# This is Git's per-user configuration file.
[user]
name = Brian Duff
email = cairndubh@gmail.com

# Include a local, machine specific configuration file that's not
# checked into my dotfiles configuration.
[include]
path = .gitconfig.local
